default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=10000"]
      - id: check-case-conflict
      - id: check-docstring-first
      - id: detect-private-key
      - id: trailing-whitespace
      - id: fix-byte-order-marker
      - id: end-of-file-fixer
      - id: check-ast
        language_version: python3.10
      - id: no-commit-to-branch
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.1
    hooks:
      - id: uv-export
        name: main dependencies
        args: [--no-hashes, --no-header, --no-annotate, --no-dev, --output-file, requirements.txt]
      - id: uv-export
        name: dev dependencies
        args: [--no-hashes, --no-header, --no-annotate, --only-group, dev, --output-file, requirements-dev.txt]
      - id: uv-lock
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
