-e .
annotated-types==0.7.0
attrs==25.4.0
elementpath==5.1.1
gemmi==0.7.4
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lxml==6.0.2
numpy==2.2.6 ; python_full_version < '3.11'
numpy==2.4.2 ; python_full_version >= '3.11'
pandas==2.3.3 ; python_full_version < '3.11'
pandas==3.0.0 ; python_full_version >= '3.11'
pydantic==2.12.5
pydantic-core==2.41.5
python-dateutil==2.9.0.post0
pytz==2025.2 ; python_full_version < '3.11'
referencing==0.37.0
rpds-py==0.30.0
six==1.17.0
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3 ; python_full_version < '3.11' or sys_platform == 'emscripten' or sys_platform == 'win32'
xmlschema==4.3.1
xmltodict==1.0.2
