name: Build and publish the package to internal PDBe PyPi registry, Dockerhub and GitLab Container Registry

env:
  PACKAGE_NAME: covariation_pairs

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install -r dev-requirements.txt
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        make test
    - name: Upload coverage to Codecov
      if: github.ref == 'refs/heads/main'
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage/cobertura-coverage.xml
        flags: unittests
        name: codecov-${{ env.PACKAGE_NAME }}
        fail_ci_if_error: true
    - name: Create distribution
      if: github.ref == 'refs/heads/main'
      run: |
        pip install wheel
        python setup.py sdist bdist_wheel
    - name: Upload artifact for publish job
      if: github.ref == 'refs/heads/main'
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.PACKAGE_NAME }}-app
        path: dist/

  publish:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v3
      with:
        name: ${{ env.PACKAGE_NAME }}-app
        path: dist/
    - name: Publish to internal PyPi
      run: |
        pip install twine
        TWINE_PASSWORD=${{ secrets.TWINE_PASSWORD }} TWINE_USERNAME=${{ secrets.TWINE_USERNAME }} python -m twine upload --repository-url ${{ secrets.PIP_INDEX_URL }} dist/*
      continue-on-error: false

  docker_build_and_push_to_dockerhub:
        runs-on: ubuntu-latest
        steps:
        -   name: Checkout
            uses: actions/checkout@v4
        -   name: Set up QEMU
            uses: docker/setup-qemu-action@v3
        -   name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v3
        -   name: Login to DockerHub
            uses: docker/login-action@v3
            with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
        -   name: Build and push
            uses: docker/build-push-action@v6
            with:
                push: true
                platforms: linux/amd64,linux/arm64/v8
                tags: |
                    ${{ secrets.DOCKER_USERNAME }}/pisa-analysis:${{ github.ref_name }}
                    ${{ secrets.DOCKER_USERNAME }}/pisa-analysis:latest

  docker_build_and_push_to_gitlab:
      runs-on: ubuntu-latest
      steps:
      -   name: Checkout
          uses: actions/checkout@v4

      -   name: Login to GitLab Container Registry
          run: echo ${{ secrets.REGISTRY_PASSWORD }} | docker login -u ${{ secrets.REGISTRY_USERNAME }} --password-stdin ${{ vars.REGISTRY_URL }}

      -   name: Build and tag Docker image
          run: docker build -t ${{ vars.REGISTRY_URL }}/${{ secrets.REGISTRY_USERNAME }}/packages/pisa-analysis:latest .

      -   name: Push Docker image to GitLab Container Registry
          run: docker push ${{ vars.REGISTRY_URL }}/${{ secrets.REGISTRY_USERNAME }}/packages/pisa-analysis:latest
